dlib==19.22.99
imutils==0.5.4
keras==2.12.0
numpy==1.23.5
opencv_contrib_python==4.7.0.72
opencv_python==4.7.0.72
pandas==2.0.2
Pillow==9.0.1
Pillow==9.5.0
pytest==7.3.1
setuptools==67.8.0
tensorflow==2.12.0
tensorflow_intel==2.12.0
